*
!.vim/bundle/Vundle.vim
!.zshrc
!.zlogin
!.zprofile
!.vimrc
!.tmux.conf
!.railsrc
!.psqlrc
!.profile
!.powconfig
!.irbrc
!.ideavimrc
!.gvimrc
!.gitmodules
!.gitignore_global
!.gitignore
!.git-completion.bash
!.githelpers
!.gitconfig
!.gitattributes
!.gemrc
!.ctags
!.bashrc
!.bash_profile
!.ackrc
!.zsh
!.zsh/
!.zsh/completions
!.zsh/completions/*
!.zsh/functions
!.zsh/functions/*
!.vim/*
!.agignore
!Brewfile
!.claude/commands/*
