*
!.vim/bundle/Vundle.vim
!.zshrc
!.zlogin
!.zprofile
!.vimrc
!.tmux.conf
!.railsrc
!.psqlrc
!.profile
!.powconfig
!.irbrc
!.ideavimrc
!.gvimrc
!.gitmodules
!.gitignore_global
!.gitignore
!.git-completion.bash
!.githelpers
!.gitcofig
!.gitattributes
!.gemrc
!.ctags
!.bashrc
!.bash_profile
!.ackrc
!.zsh
!.vim
!.agignore